.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.scroll-container {
    width: var(--set-width);
    display: flex;
    flex-direction: column;
}
.scroll-section {
    width: var(--set-width);
    border: 2px solid black;
}
.scroll-section.play {
    height: 400px;
}
.scroll-section.about {
    height: 200px;
}