:root {
    --background-colour: rgb(20, 20, 20);
    --surface-colour: rgb(50, 50, 50);
    --surface-selected-colour: rgb(70, 70, 70);
    --text-colour: rgb(230, 230, 230);
    --primary-colour: rgb(20, 231, 224);
    --accent-colour: rgb(188, 6, 6);
    --warning-colour: rgb(226, 95, 55);
    --error-colour: rgb(192, 31, 31);
}


[data-theme="light"] {
    --background-colour: rgb(255, 255, 255);
    --surface-colour: rgb(230, 230, 230);
    --surface-selected-colour: rgb(70, 70, 70);
    --text-colour: rgb(0, 0, 0);
    --primary-colour: rgb(20, 231, 224);
    --accent-colour: rgb(188, 6, 6);
    --warning-colour: rgb(226, 95, 55);
    --error-colour: rgb(192, 31, 31);
}


[data-theme="dark"] {
    --background-colour: rgb(50, 50, 50);
    --surface-colour: rgb(100, 100, 100);
    --surface-selected-colour: rgb(70, 70, 70);
    --text-colour: rgb(230, 230, 230);
    --primary-colour: rgb(20, 231, 224);
    --accent-colour: rgb(188, 6, 6);
    --warning-colour: rgb(226, 95, 55);
    --error-colour: rgb(192, 31, 31);
}